<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 扫描service相关的bean -->
    <context:component-scan base-package="com.tsw.service"/>
    <!--BillServiceImpl注入到IOC容器中-->
    <bean id="BillServiceImpl" class="com.tsw.service.BillServiceImpl">
        <property name="billMapper" ref="billMapper"/>
    </bean>
    <!--UserServiceImpl注入到IOC容器中-->
    <bean id="UserServiceImpl" class="com.tsw.service.UserServiceImpl">
        <property name="userMapper" ref="userMapper"/>
    </bean>
    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--开启注解扫描-->
    <context:component-scan base-package="com.tsw.aop"/>
    <!--开启AOP操作-->
    <aop:aspectj-autoproxy/>
</beans>